@media only screen and (max-width: 1000px){
    /* nebo @media () */
    .about-us {
        flex-direction: column;
        } 
    }
@media only screen and (max-width: 800px){
    /* nebo @media () */
    header img {
        width: 200px;
    }
}
    /* nebo @media () */
    @media only screen and (max-width: 650px){
        header h1 {
            font-size: 60px;  
        }
    }